@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EFEFEF;
    color: #003952;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid #003952;
}

.ladoA {
    margin-left: 50px;
}

.centro {
    font-family: Lexend Zetta, 'sans-serif';
    font-size: 36px;
    font-weight: bold;
}

.ladoB {
    margin-right: 50px;
}

@media (max-width: 425px) {
    nav ul {
        display: none;
    }
}